/** @format */

#icons {
	display: flex !important;
	justify-content: flex-end;
}

h4 {
	cursor: pointer;
	padding: 1rem;
}

.mr-20 {
	margin-left: 20px;
}

.pb-6 {
	padding-bottom: 6.5rem;
}

.svg__overflow {
	overflow-x: hidden;
	overflow-y: auto;
}

.svg__display {
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.svg__width {
	text-align: center;
	cursor: pointer;
	width: 31%;
	color: #024f9d;
	font-weight: bold;
	font-size: 9px;
	margin-bottom: 10px;
	word-spacing: 1px;
	letter-spacing: 0.5px;
}

.svg__icon {
	pointer-events: none;
}

.svg__icon--active {
	border: 2px solid gold;
}


table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }


.alligDatepicker{
  display: flex;
    justify-content: space-evenly;
}