<!-- @format -->

<div class="ui container mb-20 mt-20 pb-6">
	<div class="ui raised shadow container">
		<h3 class="center tac mb-20">{{ resourceService?.frmelmnts?.msg?.generateCert }}</h3>
		<sui-tabset>
			<div class="ui stackable grid">
				<div class="three wide column pt-0">
					<div class="ui left attached vertical tabular menu">
						<a class="item" suiTabHeader="1" [(isActive)]="templateActive">Select template</a>
						<a
							class="item"
							suiTabHeader="2"
							[(isActive)]="recipientTab"
							[ngStyle]="certSelected.length === 0 ? { cursor: 'not-allowed' } : { cursor: 'pointer' }"
							[isDisabled]="certSelected.length === 0 ? true : false"
							>Recipient & Issuer details</a
						>
						<a
							class="item"
							suiTabHeader="3"
							[(isActive)]="signatoryTab"
							[ngStyle]="certSelected.length === 0 ? { cursor: 'not-allowed' } : { cursor: 'pointer' }"
							[isDisabled]="certSelected.length === 0 ? true : false"
							>Signatory details</a
						>
						<a
							class="item"
							suiTabHeader="4"
							[(isActive)]="storageTab"
							[ngStyle]="certSelected.length === 0 ? { cursor: 'not-allowed' } : { cursor: 'pointer' }"
							[isDisabled]="certSelected.length === 0 ? true : false"
							>Storage Info</a
						>
						<a
							class="item"
							suiTabHeader="5"
							[(isActive)]="generateTab"
							[ngStyle]="certSelected.length === 0 ? { cursor: 'not-allowed' } : { cursor: 'pointer' }"
							[isDisabled]="certSelected.length === 0 ? true : false"
							>Preview/Generate</a
						>
					</div>
				</div>

				<div class="nine wide column pt-0">
					<div class="ui right attached segment" suiTabContent="1">
						<p class="tac">Select Template</p>
						<div class="svg__overflow svg__display">
							<span
								class="svg__width"
								(click)="selectedSvgCert($event)"
								[id]="certificate"
								*ngFor="let certificate of showAllCertsValues"
								[title]="
									certificate.endsWith('niitMeritHtml.svg')
										? 'NIIT MERIT ZIP'
										: certificate.endsWith('niitParticipationHtml.svg')
										? 'NIIT PARTICIPATION ZIP'
										: certificate.endsWith('niitParticipation.svg')
										? 'NIIT PARTICIPATION SVG'
										: certificate.endsWith('meritCertificate.svg')
										? 'NIIT MERIT SVG'
										: ''
								"
							>
								<svg-icon
									class="svg__icon"
									[src]="certificate"
									[stretch]="true"
									[svgStyle]="
										certificate.endsWith('Html.svg')
											? { 'width.px': 100, 'height.px': 100, 'margin.px': '3 -2 -4 -2' }
											: { 'height.px': 200, 'margin.px': '-2 -2 -7 -2' }
									"
								>
								</svg-icon>
								<br />
								<br />
								{{
									certificate.endsWith("niitMeritHtml.svg")
										? "NIIT MERIT ZIP"
										: certificate.endsWith("niitParticipationHtml.svg")
										? "NIIT PARTICIPATION ZIP"
										: certificate.endsWith("niitParticipation.svg")
										? "NIIT PARTICIPATION SVG"
										: certificate.endsWith("meritCertificate.svg")
										? "NIIT MERIT SVG"
										: ""
								}}
							</span>
						</div>
						<!-- .svg Close -->
						<div class="mt-20 d-flex flex-jc-flex-end">
							<button
								class="ui blue button"
								(click)="recipientTab = true"
								[ngStyle]="certSelected.length === 0 ? { cursor: 'not-allowed' } : { cursor: 'pointer' }"
								[disabled]="certSelected.length === 0 ? true : false"
							>
								Next
							</button>
						</div>
					</div>

					<div class="ui right attached segment" suiTabContent="2">
						<p class="tac">Enter Recipient Details</p>
						<app-default-template #formData [formFieldProperties]="formFieldProperties"> </app-default-template>
						<div class="mt-20 d-flex flex-jc-flex-end">
							<button class="ui blue button" (click)="signatoryTab = true">Next</button>
						</div>
					</div>

					<div class="ui right attached segment" suiTabContent="3">
						<p class="tac">Enter Signatory Details</p>
						<div *ngIf="signatoryCount > 0">
							<div *ngFor="let i of signatory">
								<app-default-template #signatoryForm [formFieldProperties]="signatoryFieldProperties"> </app-default-template>
							</div>
							<div id="icons">
								<h4 class="mt-20"><i class="fas fa-minus-circle" (click)="removeSignatory()"></i></h4>
								<h4 class="mt-20"><i class="fas fa-plus-circle" (click)="addSignatory()"></i></h4>
							</div>
						</div>
						<div class="mt-20 d-flex flex-jc-flex-end">
							<button class="ui blue button" (click)="storageTab = true">Next</button>
						</div>
					</div>

					<div class="ui right attached segment" suiTabContent="4">
						<div class="mb-20">
							<p>Do you want to enter Storage Details?</p>
							<sui-checkbox [(ngModel)]="storageInfo">yes</sui-checkbox>
						</div>
						<div *ngIf="storageInfo">
							<app-default-template #storageForm [formFieldProperties]="storeFieldProperties"> </app-default-template>
						</div>
						<div class="mt-20 d-flex flex-jc-flex-end">
							<button class="ui blue button" (click)="generateTab = true">Next</button>
						</div>
					</div>

					<div class="ui right attached segment" suiTabContent="5">
						<div class="buttons flex-jc-center">
							<button class="sb-btn sb-btn-normal primary" (click)="previewCertificate()">
								{{ resourceService?.frmelmnts?.btn?.preview }}
							</button>
							<button class="mr-20 sb-btn sb-btn-normal primary" (click)="createCertificate()">
								{{ resourceService?.frmelmnts?.btn?.generate }}
							</button>
							<br />
							<br />
							<div>
								<span>
									<sui-checkbox>Notify to the user</sui-checkbox>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</sui-tabset>
	</div>
</div>
